:root {
    --text-primary: #f4f4f5;
    --accent-1: rgb(238, 229, 255);
    --accent-2: rgb(134, 130, 139);
    --accent-gradient: linear-gradient(38deg, var(--accent-1) 0%, var(--accent-2) 100%);
}
